<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用注解的方式完成对象的创建, 初始化, 以及销毁-->
    <!-- 设置注解扫描的基类包, 当前扫描的是lanou包下的所有子包中的注解 -->
    <context:component-scan base-package="com.lanou"/>
</beans>